<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
    <title>Express Invitation</title>
</head>
<body>

<div class = "container">
    <form
        id= "form"
        action="http://localhost:8080/express-form"
        method="POST"
    >
        <p>Hey there!</p>
        <label>Please insert your name</label> 
        <input type="text" name="name" id="name"><br>

        <p>Please choose your event</p>
        <p>Event:</p>
        <label for="wedding">Wedding</label>
        <input type="radio" name="event1" id="wedding" value="wedding" checked> <br>
        <label for="birthday">Birthday</label>
        <input type="radio" name="event1" id="birthday" value="birthday" checked> <br>
        <label for="baptism">Baptism</label>
        <input type="radio" name="event1" id="baptism" value="baptism" checked> <br>

        <label for="message" class="messageBox">Message</label>
        <textarea id="message" name="message"></textarea><br>
        
        <input id="submitBtn" type="submit" value="submit">
    </form>

    <!-- <div class="card" style="display: none;">
        <p>Hello, <span id="nameInput"></span></p>   
        <p>See you at the <span id="eventInput"></span></p>
        <p id="messageInput"></p>
    </div> -->
</div> 


</body>
</html>