body {
    font-family: 'Exo 2', sans-serif;

}

.container {
    width: 500px;
    margin: 0 auto;
    padding: 60px;

}

p {
    font-size: 20px;
    
}

.card,
form {
    background-color: bisque;
    padding: 30px;
}

.messageBox{
    margin: 20px 0px;
    display: inline-block;
}


textarea {
    width: 100%;
    height: 50px;
}

input[type="text"] {
    width: 100%;
}

